/* Global */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.badge.bg-dark.bg-gradient:hover {
    color: #fff;
  }

/* Footer */
.useful-links ul {
    margin: 0;
    padding: 0;
}

.useful-links ul li {
    list-style: none;
}

.useful-links ul li a {
    color: #fff;
}