<header class="mb-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core:landing_page' %}">Dcommerce</a>
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- left menus -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active border-info" aria-current="page" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active border-info" aria-current="page" href="#">Shopping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Vendors</a>
            </li>
          </ul>
          <!-- left menus -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <a href="#" class="nav-link active dropdown-toggle" id="bd-versions" data-bs-toggle="dropdown" aria-expanded="true" data-bs-display="static">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="bd-versions">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              {% if user.vendor %}
              <li><a class="dropdown-item" href="{% url 'vendor:vendor_admin' %}">Vendor Admin</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>