<header class="mb-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core:landing_page' %}">Dcommerce</a>
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- left menus -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              {% comment %} <a class="nav-link active" aria-current="page" href="#">Categories</a> {% endcomment %}
              <a class="nav-link dropdown-toggle active" href="#" id="categories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-2" aria-labelledby="categories">
                {% for category in categories %}
                  <li>
                    <a class="dropdown-item" href="{% url 'product:category' category.category_slug %}">
                      {{ category }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'product:product_list' %}">Shopping</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Vendors</a>
            </li>
          </ul>

           <!-- center menus -->
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <form action="{% url 'product:search_product' %}" method="GET" class="row row-cols-lg-auto g-3 align-items-center">
              <div class="col-12">
                <div class="input-group">
                  <input type="text" class="form-control" name="product_query" id="is_product_query" placeholder="Search Products...">
                  <button class="btn btn-success input-group-text">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </ul>

          <!-- right menus -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'cart:cart_detail' %}">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge bg-success">{{ cart|length }}</span>
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link active dropdown-toggle" id="bd-versions" data-bs-toggle="dropdown" aria-expanded="true" data-bs-display="static">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-2" aria-labelledby="bd-versions">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                {% if user.vendor %}
                <li><a class="dropdown-item" href="{% url 'vendor:vendor_admin' %}">Vendor Admin</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>