{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% endblock title %}

{% block body %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- New products -->
                <div class="new-products">
                    <div class="row">
                        <h4 class="text-secondary mb-4">Newest Products</h4>
                        {% for product in new_products %}
                        <div class="col-md-3">
                            <div class="card shadow border-0 mb-2 mr-2">
                                <img src="{{ product.get_thumb }}" class="card-img-top" alt="{{ product.title }}">
                                <div class="card-body">
                                    <span class="badge bg-dark bg-gradient">{{ product.category }}</span>
                                    <h5>{{ product.title }}</h5>
                                    <span>৳ {{ product.price }}</span>
                                    <a href="{{ product.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
</main>
{% endblock body %}